* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    width: auto;
    height: auto;
    font-family: 'Cinzel', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Spartan', sans-serif;
    position: relative;
    background-color: #f8f8f8;
}
body::before{
    content: '';
    z-index: -200;
    position: absolute;
    left: -100px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 130%;
    width: 30%;
    top: -70%;
    background-image: linear-gradient(38deg, rgba(136,56,255,1) 44%, rgba(233,66,255,1) 88%);
}
body::after{
    z-index: -200;
    content: '';
    position: absolute;
    bottom: -70%;
    left:70vw;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 130%;
    width: 30%;
    background-color: hsl(270, 20%, 96%);
}

.container {
    margin: 15% 17.5%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    column-gap: 5%;
    width: 65%;
    height: 70%;
}
@media (max-width: 375px) {
    .container {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        column-gap: 0px;
        row-gap: 0px;
        margin: 30px 0px;
        padding: 0px;
    }
    body::before{
        left: -50px;
        height: 60%;
        width: 60%;
        top: -10%;
    }
    body::after{
        bottom: -10%;
        left: 50vw;
        height: 50%;
        width: 60%;
    }
    .box1 {
        grid-row: span 3;
        grid-column: auto;
        width: 100%;
        margin: 0px 0px 0px 40px;
    }
    .box2 {
        grid-row: span 3;
        grid-column: auto;
        margin: 0px 30px;
}
}
.box1 {
    grid-column: span 1;
    grid-row: span 3;
    background-color: hsl(0, 0%, 100%);
    padding: 5%;
    z-index: -30;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.box2 {
    grid-column: span 2;
    grid-row: span 3;
    transform: translateY(30%);
    -webkit-transform: translateY(30%);
    -moz-transform: translateY(30%);
    -ms-transform: translateY(30%);
    -o-transform: translateY(30%);
}
.header {
    background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    padding: 20px 20px 10px 20px;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 20px 20px 7px 7px;
    -webkit-border-radius: 20px 20px 7px 7px;
    -moz-border-radius: 20px 20px 7px 7px;
    -ms-border-radius: 20px 20px 7px 7px;
    -o-border-radius: 20px 20px 7px 7px;
}
.header::before {
    content: "";
    background-color: black;
    top: 0px;
    border-radius: 0% 0% 50px 50px;
    right: 20%;
    left: 20%;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    -webkit-border-radius: 0% 0% 50px 50px;
    -moz-border-radius: 0% 0% 50px 50px;
    -ms-border-radius: 0% 0% 50px 50px;
    -o-border-radius: 0% 0% 50px 50px;
}
.header img {
    width: 40px;
    height: 40px;
    border: 2px solid white;
    margin-right: 5px;
    margin-left: 15px;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.h1 {
    margin: 10px 0px 0px 0px;
    font-weight: 700;
}
.h2 {
    margin: -15px 0px 0px 0px;
    font-size: x-small;
    opacity: 0.5; 
}
.fa-chevron-left:before {
    position: absolute;
    top: 50%;
    left: 6%;
    color:hsl(0, 0%, 100%);
}
.fa-ellipsis-v:before {
    position: absolute;
    top: 50%;
    left: 90%;
    color:hsl(0, 0%, 100%);
}
.main-chat {
    background-color: hsl(270, 20%, 96%);
    border-radius: 20px;
    padding: 3%;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.main-chat::before {
    content: "";
    position: absolute;
    top: -10px;
    padding: 20px;
    right: -0.01%;
    left: -0.01%;
    z-index: -10;
    background-color: hsl(270, 20%, 96%);
}
.box {
    padding: 4% 2%;
    background-color: hsla(270, 7%, 64%, 0.2);
    font-size: small;
    font-size: 10px; 
    margin: 4% 0%;
    width: 64%;
}
.a, .b {
    border-radius: 15px 15px 15px 5px;
    -webkit-border-radius: 15px 15px 15px 5px;
    -moz-border-radius: 15px 15px 15px 5px;
    -ms-border-radius: 15px 15px 15px 5px;
    -o-border-radius: 15px 15px 15px 5px;
}
.c {
    margin-left: 36%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px 15px 5px 15px;
    -webkit-border-radius: 15px 15px 5px 15px;
    -moz-border-radius: 15px 15px 5px 15px;
    -ms-border-radius: 15px 15px 5px 15px;
    -o-border-radius: 15px 15px 5px 15px;
}
.d {
    width: 45%;
    background-color: hsl(0, 0%, 100%);
    margin-left: 55%;
    border-radius: 15px 15px 5px 15px;
    -webkit-border-radius: 15px 15px 5px 15px;
    -moz-border-radius: 15px 15px 5px 15px;
    -ms-border-radius: 15px 15px 5px 15px;
    -o-border-radius: 15px 15px 5px 15px;
}
.dog-img {
    width: 70%;
    margin-left: 30%;
    padding: 1% 0% 1% 0%;
    background-color: inherit;
}
.dog-img img {
    width: 32%;
    height: 32%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.e{
    border-radius: 15px 15px 15px 5px;
    -webkit-border-radius: 15px 15px 15px 5px;
    -moz-border-radius: 15px 15px 15px 5px;
    -ms-border-radius: 15px 15px 15px 5px;
    -o-border-radius: 15px 15px 15px 5px;
}
.box2 h1 {
    color: hsl(271, 36%, 24%);
}
.inner-box2 {
    margin-top: 4%;
    color: hsl(270, 7%, 64%);
    line-height: 1.5em;
}
.box.pay{
    background: linear-gradient(to left,hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    color: white;
    border-radius: 10px 10px 10px 5px;
    float: left;
    -webkit-border-radius: 10px 10px 10px 5px;
    -moz-border-radius: 10px 10px 10px 5px;
    -ms-border-radius: 10px 10px 10px 5px;
    -o-border-radius: 10px 10px 10px 5px;
}
.box.pay span{
    font-weight: bold;
    float: right;
}
.box.type{
    background-color: white;
    color: #7c7982;
    border-radius: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.box.type span{
    background-color: #3e234c;
    color: white;
    font-size: medium;
    padding: 4px 7px;
    border-radius: 100%;
    float: right;
    margin-top: -1%;
    margin-bottom: 2%;
    
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}